<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库备份案例</title>
    <link href="//cdn.staticfile.org/layui/2.9.7/css/layui.css" rel="stylesheet">
</head>
<body>

<!--表格呈现-->
<table class="layui-hide" id="elem-backup-tables" lay-url="{$routes.tables}"></table>
<!--批量操作-->
<script type="text/html" id="table-opt">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="import" lay-url="{$routes.view_import}">还原</button>
        <button class="layui-btn layui-btn-sm" id="backups-status"
                lay-event="backups"
                backup-process-id="backup-process"
                step1-url="{$routes.backupStep1}"
                step2-url="{$routes.backupStep2}"
                step3-url="{$routes.cleanup}">备份表
        </button>
        <button class="layui-btn layui-btn-disabled" id="backup-process">备份状态变化</button>
        <button class="layui-btn layui-btn-sm" lay-event="optimizes" lay-url="{$routes.optimize}">优化表</button>
        <button class="layui-btn layui-btn-sm" lay-event="repairs" lay-url="{$routes.repair}">修复表</button>

    </div>
</script>
<!--单行操作-->
<script type="text/html" id="table-row-opt">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="optimize" lay-url="{$routes.optimize}">优化表</button>
        <button class="layui-btn layui-btn-sm" lay-event="repair" lay-url="{$routes.repair}">修复表</button>
    </div>
</script>

<script src="//unpkg.com/layui@2.9.8/dist/layui.js"></script>
<!--https://github.com/pkg6/think-backup/blob/main/src/tp5er.js-->
<script src="https://cdn.jsdelivr.net/gh/pkg6/think-backup@main/src/tp5er.js"></script>

<script>
    layui.define(['tp5er'], function (exports) {
        var tp5er = layui.tp5er
        tp5er.backup.bind('elem-backup-tables')
            .render('table-row-opt', 'table-opt')
            .on()
    });
</script>
</body>
</html>
