<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库备份案例</title>
    <link href="//cdn.staticfile.org/layui/2.9.7/css/layui.css" rel="stylesheet">
</head>
<body>
<!--表格呈现-->
<table class="layui-hide" id="elem-import-table"
       table-url="{$routes.files}"
       download-url="{$routes.download}"
       import-url="{$routes.import}"
></table>
<!--单行操作-->
<script type="text/html" id="table-row-opt">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="download">下载</button>
        <button class="layui-btn layui-btn-sm" lay-event="import">导入</button>
    </div>
</script>

<script src="//unpkg.com/layui@2.9.8/dist/layui.js"></script>
<script src="https://cdn.jsdelivr.net/gh/pkg6/tp5-databackup@main/layui/import.js"></script>

</body>
</html>